@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --white: #e6f1f1;
    --neutral: #eaf9f8;
    --grey-light: #b8c9d3;
    --grey-dark: #6b7c83;
    --main-200: #9fb59e;
    --main-600: #6c8c7f;
    --main-800: #4c7c48;
    --black: #040b03;
    --ff-main: 'Nunito Sans', sans-serif;
    --ff-accent: 'Great Vibes', cursive;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}

body {
    background-color: var(--neutral);
    background-image: url(./assets/pexels-jessica-lewis-creative-2239674.jpg);
    font-family: var(--ff-main);
    display: grid;
    grid-template-rows: auto;

}

main {
    padding: 0 15rem;
}

nav {
    background-color: black;
    color: var(--white);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 3rem;
}

/* code from chat gpt, doesn 't show the button */

/* Responsive menu button */
.menu-btn {
    display: none;
  }
  .menu-btn__burger {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--main-600);
  }
  
  /* Hide links and show menu button on small screens */
  @media (max-width: 600px) {
    .nav-links {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }

header {
    background-color: var(--grey-dark);
    max-height: 300px;
}

header img {
    max-width: 20%;
    margin: auto;
}

h1 {
    font-family: var(--ff-accent);
}

h2 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
}

#banner {
    display: grid;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

footer {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
}