:root {
    --white: #e6f1f1;
    --neutral: #eaf9f8;
    --grey-light: #b8c9d3;
    --grey-dark: #6b7c83;
    --main-200: #9fb59e;
    --main-600: #6c8c7f;
    --main-800: #4c7c48;
    --black: #040b03;
}

