:root {
    --white: #e6f1f1;
    --neutral: #eaf9f8;
    --grey-light: #b8c9d3;
    --grey-dark: #6b7c83;
    --main-200: #9fb59e;
    --main-600: #6c8c7f;
    --main-800: #4c7c48;
    --black: #040b03;
}

body {
    background-color: var(--neutral);
}

nav {
    background-color: black;
    color: var(--white);
    position: sticky;
    top: 0;
    display: flex;
    height: 3rem;
}

nav li {
    display: inline-block;
}

header {
    background-color: var(--grey-dark);
}

header img {
    max-width: 20%;
    margin: auto;
}

footer {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
}